{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }} 

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">About Franco Maioli</h2>
                <p>I am a passionate web developer with experience in creating interactive websites and exciting online games.</p>
                <p>Welcome to my Rock, Paper, Scissors game page! I created this game to provide you with a fun and challenging experience.</p>
                <p>As a web developer, I focus on combining attractive design with solid functionality, and I love exploring new technologies to enhance the user experience.</p>
                <p>If you have any questions or suggestions about the game or any other web project, feel free to contact me through the following links:</p>

                <ul class="py-3">
                    <li><a href="https://www.linkedin.com/in/franco-ariel-maioli" target="_blank">LinkedIn</a></li>
                    <li><a href="https://www.instagram.com/frann_maioli" target="_blank">Instagram</a></li>
                    <li><a href="https://github.com/franco-maioli03" target="_blank">GitHub</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>
{{ end }}